.wrapper {
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    height: calc(100vh - 80px);
    background: url('/public/assets/backgrounds/forestSpring.webp') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.heroOverlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 1190px;
}

.heroCard {
    background: rgba(255, 255, 255, 0.85);
    padding-bottom: 48px;
    padding-right: 180px;
    padding-left: 180px;
}

.heroCard h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.heroText {
    p {
        margin: 0;
        padding: 0;
    }

    p+p {
        margin-top: 10px;
    }
}

.heroText p {
    font-size: 24px;
    line-height: 1.5;
}

.mainBtn {
    background: #9FA276;
    color: #000;
    border: none;
    padding: 15px 40px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 40px;
    cursor: pointer;
}

.mapSection {
    padding: 60px 0;
    background: #f9f9f9;
}

.mapContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.mapContainer h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 0;
}

.mapText {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}

.mapWrapper {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.mapLegend {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.mapLegend p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.legendLine {
    display: inline-block;
    width: 40px;
    height: 4px;
    background-color: #FF8000;
    /* Цвет линии */
}

a{
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) or (max-height: 700px){
    .heroCard {
        padding-left: 20px;
        padding-right: 15px;
        padding-bottom: 20px;
        padding-top: 15px;
    }

    .heroCard h1 {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
    }

    .heroText {
        p+p {
            margin-top: 5px;
        }
    }

    .heroText p {
        font-size: 14px;
    }

    .mainBtn {
        margin-top: 15px;
        font-size: 18px;
        padding: 10px 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .mapContainer h1 {
        font-size: 24px;
    }

    .mapText {
        font-size: 16px;
    }
}


@media (max-width: 768px){
    .hero {
        height: calc(100vh - 70px);
    }
}