.wrapper {
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    height: calc(100vh - 80px);
    background: url('/public/assets/backgrounds/forestWinter.webp') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.heroOverlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 1190px;
}

.heroCard {
    background: rgba(255, 255, 255, 0.85);
    padding-bottom: 48px;
    padding-right: 180px;
    padding-left: 180px;
}

.heroCard h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.heroText {
    p {
        margin: 0;
        padding: 0;
    }

    p+p {
        margin-top: 10px;
    }
}

.heroText p {
    font-size: 24px;
    line-height: 1.5;
}


@media (max-width: 768px)  or (max-height: 700px){
    .heroCard {
        padding-left: 20px;
        padding-right: 15px;
        padding-bottom: 20px;
        padding-top: 15px;
    }

    .heroCard h1 {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
    }

    .heroText {
        p+p {
            margin-top: 5px;
        }
    }

    .heroText p {
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .hero {
        height: calc(100vh - 70px);
    }
}